* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
  }

#pagina{

    background-color: rgb(8, 8, 8);
    padding: 200px;
    border-radius: 700px;
    color: blanchedalmond;
    font-size: 30px;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
}
